.docterItem {
  display: block;
  height: 260px;
  border-bottom: 1px solid #e0e0e0;

  .docterPhotoSide {
    width: 160px;
    padding: 30px 0 0 0;
    text-align: center;

    i {
      display: inline-block;
      vertical-align: top;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #e0e0e0 50% 50% no-repeat;
      background-size: cover;
    }
  }
  
  .doctorName {
    padding: 30px 0 0 0;
    color: #000;
  }

  .doctorTitle {
    padding: 21px 0;
    font-size: 26px;
    color: #656565;
  }

  .doctorIntro {
    line-height: 1.5;
    border-top: 1px solid #e0e0e0;
    padding: 20px 0;
    font-size: 24px;
    color: #656565;
  }

  .haveNumber {
    text-align: right;
    padding-right: 30px;

    sup {
      color: #0099ff;
      border: 1px solid #0099ff;
      background: transparent;
      padding: 0 16px;
    }
  }

  .noneNumber {
    text-align: right;
    padding-right: 30px;

    sup {
      color: #d9d9d9;
      border: 1px solid #d9d9d9;
      background: transparent;
      padding: 0 16px;
    }
  }

  .schDate {
    padding: 0 30px 8px 0;
    font-size: 26px;
    color: #656565;

    span {
      color: #d9d9d9;
    }
  }
}

.dataOver {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
  color: #d0d0d0;
}

.nextNumber {
  color: #656565;
  background: #fff7d6;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 26px;
}
